node_modules/
node_modules*/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
google-services.json
googleService-Info.plist
*.sh
firebase
firebase-bin/
firebase-local-npm/
metro-cache/
.npm_local_cache/
*.exp
app.json.bak
openjdk@
